 /* table.css */
 .table {
    width: 100%;
    border-collapse: collapse;
}

.table thead th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 999;
}

.table tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

.status-approved {
    color: green;
}

.status-rejected {
    color: red;
}

.status-pending {
    color: grey;
}

.table tbody tr.selected {
    background-color: #D6E4F6;
    /*colors #D6E4F6 (blue)  #EAF2F8 (mild blues)*/
}

.no-forms-message {
    text-align: center;
    padding: 20px;
}

.icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.no-forms-message p {
    font-size: 18px;
    color: #555;
}
