/* the following are the css for the tab buttons in the main page*/
.tab-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 10px auto 20px;
    align-items: flex-start; /* Move the buttons to the top */
  }
  
  .tab-button {
    background-color: #f8f8f8; /* Add a touch of blue */
    border: 2px solid #3498db; /* Add border */
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Add margin to the top */
  }
  
  .tab-button:not(:last-child) {
    margin-right: 10px; /* Add space between buttons */
  }
  
  
  .tab-button.active {
    background-color: #3498db; /* Change background color for active button */
    color: #ffffff; /* Change text color for active button */
  }
  
  /*the following are the css for the table in the page1*/
  
  /* ApproveForm.css */
  
  /* Table styles */
  .table-responsive {
  overflow-x: auto;
  }
  
  .table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc; /* Add a thin border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for depth */
  
  }
  
  .table th,
  .table td {
  padding: 10px;
  text-align: center;
  }
  
  .table th {
  background-color: #05b6fa; /* #3498db;*/
  color: #ffffff;
  font-weight: bold;
  height: 60px;     /*table header height*/
  font-size: 18px;  /*font size of the text in table header*/
  }
  
  .table tr:nth-child(even) {
  background-color: #f2f2f2;
  }
  
  .table td:last-child {
  padding-right: 20px;
  }
  
  /*
  .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Add spacing between buttons 
  }
  */
  
  .button-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .button-container {
  margin-top: 10px;
  }
  
  .approve-btn,
  .reject-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  }
  
  .approve-btn {
  background-color: #4caf50;
  color: white;
  }
  
  .reject-btn {
  background-color: #f44336;
  color: white;
  }
  
  .approve-btn:hover {
  background-color: #1e7e34;
  }
  
  .reject-btn:hover {
  background-color: #ff4d4d; /* Use a different red shade for hover */
  }
  
  .comments-textbox {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  resize: vertical;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .comments-textbox::placeholder {
  padding: 5px;
  color: #999;
  }
  
  /* css for text area */
  .custom-textarea {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f2f2f2;
    resize: none !important; /* Ensure the textarea is non-resizable */
  }
  
  .custom-textarea:focus {
    outline: none; 
    border-color: #007bff;
    background-color: #fff;
  }
  