body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .form_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin-top: 50px;
  }
  
  form {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    color: #4070f4; /* Change heading color */
  }
  
  .input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-field label {
    font-size: 16px;
    font-weight: 500;
    color: #2e2e2e;
    width: 120px;
    margin-right: 16px;
  }
  
  .input-field input,
  textarea,
  select {
    outline: none;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px;
    height: 42px;
  }
  
  textarea {
    resize: vertical;
  }
  
  form button i {
    margin: 0 6px;
  }
  
  form button:hover {
    background-color: #265df2;
  }
  
  form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 25px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    form {
      padding: 20px;
    }
  
    .input-field {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .input-field label {
      width: auto;
      margin-bottom: 8px;
    }
  
    .input-field input,
    textarea,
    select {
      font-size: 12px;
    }
  
    form button {
      font-size: 12px;
    }
  }
  