.container {
  margin: 60px auto 0;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

.form-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: #fcfeff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #05b6fa;
}

.form-container label {
  display: inline-block;
  width: 110px;
  font-weight: bold;
  margin-bottom: 5px;
  color: brown;
}

.sp {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .form-container label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
}

.approval-status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.approved {
  background-color: green;
  color: white;
}

.declined {
  background-color: red;
  color: white;
}

.pending {
  background-color: grey;
  color: white;
}

/* Add your existing CSS rules here */

.green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.green-button:hover {
    background-color: darkgreen;
}


/*css for no forms in apply.php*/

.no-forms-message {
  text-align: center;
  padding: 20px;
}

.icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.no-forms-message p {
  font-size: 18px;
  color: grey;
}

/*css for the last column of apply.php last column and upload animation*/
    .form-container td:last-child {
        vertical-align: middle;
        text-align: center;
    }

/*css for success message*/
    .success-message {
      background-color: #4CAF50;
      color: white;
      text-align: center;
      padding: 10px;
      margin-top: 20px;
      border-radius: 5px;
  }
  
/*css for the file upload*/
