body {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.form-container {
    flex: 1 0 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #f9f9f9;
   /* background: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%);
   */
}

.odForm-head{
    background: rgb(50,169,37); 
    /*
    for light grn - rgb(168, 233, 94)
    for mdm grm -   rgb(87, 183, 92)
    */
    padding:5px;
    /*border-radius: 30px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 
}

.clForm-head{
    background: rgb(127,76,220);/*#E06469;*/
    padding:5px;
    /*border-radius: 30px; */

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.od-border {
    border-color: #006400;
    background: linear-gradient(to bottom,#fff1eb 0%, rgb(202,252,236) 100%);
}

.cl-border {
    border-color: #800080;
    background: linear-gradient(to bottom,#fff1eb 0%, rgb(221,198,242) 100%);

}


hr {
    border: none;
    /*height:1px;
    */
    background-color: grey;
    /* Remove default border */
    border-top: 1px solid #CCCCCC;
    /* Set a solid line with light gray color */
    margin: 20px 0;
    /* Add some margin for spacing */
    margin-top: 10px;
}


fieldset {
    border: none;
    padding-left: 5px;
    margin: 0;
}

label {
    display: inline-block;
    width: 110px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #800020;
}

button {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #A4D0A4;
    color: white;
    border-radius: 30px;
}

.btn-primary:hover{
    background-color: #006400;
}

.btn-secondary {
    background-color: #E06469;
    color: white;
    border-radius: 30px;
}

.btn-secondary:hover{
    background-color: red;
}

.box-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .form-container {
        flex: 1 0 100%;
    }

    .box-container{
        display: block;
    }
    
    .button-container {
        display: flex;
        flex-direction: column;
    }
    
    .btn-phn{
     display: flex;
     justify-content: center;
     flex-direction: row;   
     
    }
    .btn-phn button{
        flex-grow: 10px;
    }
    
}

.form-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color:#ffffff;
}

textarea {
    padding: 5px;
    /* Add padding for spacing within the textarea */
    font-family: Arial, sans-serif;
    /* Set the font family */
    font-size: 14px;
    /* Set the font size */
    border: 1px solid #CCCCCC;
    /* Add a border */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    resize: auto;
    /* Allow vertical resizing of the textarea */
}

textarea:focus {
    outline: none;
    /* Remove the default focus outline */
    border-color: #0000FF;
    /* Change the border color on focus */
}

.sp{
    font-family: Arial, sans-serif;
    /* Set the font family */
    font-size: 14px;
    /* Set the font size */
    /*display: inline-block;
    background-color: #FFFF00;*/
    color: #333333;
    font-weight: bold;
}

.container {
    width: 100%;
}